.*
staticfiles/
media/
node_modules/
nginx/

### Node template
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock
celerybeat-schedule

### macOS template
# General
*.DS_Store
.AppleDouble
.LSOverride

!.coveragerc
!.env
!.pylintrc
