{% extends "base.html" %}

{% load static i18n %}

{% block content %}

<style>

#map-container {
    position: relative;
    height: 1000px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

#console {
  position: absolute;
  width: 240px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
}

</style>

<script src="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css" rel="stylesheet" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.js"></script>
<script src="{% static 'js/mapboxgl-spiderifier-master/index.js' %}"></script>
<link href="{% static 'js/mapboxgl-spiderifier-master/index.css' %}" rel="stylesheet" />

 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<h1 class="display-4">WHOI HAB Hub</h1>

<div id="map-container">
    <div id='map'></div>
<!--
    <div id='console'>
      <h1>Shellfish Area Closures</h1>
      <form>


      <div class='session form-group' id='year-sliderbar'>
          <button type="button" class="btn btn-primary btn-sm float-right console-btn-reset" id="reset-year-btn">Reset</button>
          <h2>Filter by Year: <label id='active-year'>All</label></h2>
          <input id='year-slider' class='form-control' type='range' min='2010' max='2019' step='1' value='2010' />

      </div>
      <div class='session form-group' id='month-sliderbar'>
          <button type="button" class="btn btn-primary btn-sm float-right console-btn-reset" id="reset-month-btn">Reset</button>
          <h2>Filter by Month: <label id='active-month'>All</label></h2>
          <input id='month-slider' class='form-control' type='range' min='1' max='12' step='1' value='1' />
      </div>

      <div class="form-group">
        <label for="state-select" class="col-form-label col-form-label-sm">Filter by state</label>
        <select class="form-control form-control-sm" id="state-select">
          <option value="MA">Massachusetts</option>
          <option value="ME">Maine</option>
        </select>
      </div>
      </form>

      <p>Data: <a href='#'>download</a></p>

    </div>
    -->
</div>

{% endblock content %}

{% block javascript %}
<script>
    window.onload= function() {
    mapboxgl.accessToken = 'pk.eyJ1IjoiZWFuZHJld3MiLCJhIjoiY2p6c2xxOWx4MDJudDNjbjIyNTdzNWxqaCJ9.Ayp0hdQGjUayka8dJFwSug';

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [-69.75, 41.89],
        zoom: 7,
    });

    var popupFromZoom = 10;
    var loadShapesFromZoom = 8;

    map.on('load', function() {
        // Set default filters that return everything
        var filterYear = ['!=', ['number', ['get', 'year']], 1900];
        var filterMonth = ['!=', ['number', ['get', 'month']], 13];

        // Add a new source from Django GeoJSON data for MA shellfish_area shapes
        map.addSource("closures_areas_ma_src", {
            type: "geojson",
            data: "{% url 'closures:ajax_load_closures_by_state' 'MA' %}",
            buffer: 10,
            maxzoom: 12,
        });

        map.addLayer({
            id: "closures_areas_ma",
            type: "fill",
            source: "closures_areas_ma_src",
            minzoom: loadShapesFromZoom,
            layout: {},
            paint: {
                'fill-color': 'orange',
                'fill-opacity': 0.5,
                'fill-outline-color': '#fc4e2a',
            },
            //filter: ['all', filterYear, filterMonth]
            //filter: ['in', ['literal', 'Oysters'], ['get', 'species']]
        });

        // Add a new source from Django GeoJSON data
        map.addSource("closures_ma_src", {
            type: "geojson",
            data: "{% url 'closures:ajax_load_closures_by_state_points' 'MA' %}",
            buffer: 10,
            maxzoom: 16,
            cluster: true,
            clusterMaxZoom: 16, // Max zoom to cluster points on
            clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
        });

        map.addLayer({
            id: "closures_ma_clusters",
            type: "circle",
            source: "closures_ma_src",
            layout: {},
            paint: {
                // Use step expressions (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
                // with three steps to implement three types of circles:
                //   * Blue, 20px circles when point count is less than 10
                //   * Yellow, 30px circles when point count is between 10 and 50
                //   * Pink, 40px circles when point count is greater than or equal to 50
                'circle-color': [
                    'step',
                    ['get', 'point_count'],
                    '#fd8d3c',
                    10,
                    '#fc4e2a',
                    50,
                    '#e31a1c'
                ],
                'circle-radius': [
                    'step',
                    ['get', 'point_count'],
                    20,
                    10,
                    30,
                    50,
                    40
                ]
            },
            filter: ['all', ['has', 'point_count']]
            //filter: ['in', ['literal', 'Oysters'], ['get', 'species']]
        });

        map.addLayer({
            id: 'closures_ma_clusters_count',
            type: 'symbol',
            source: 'closures_ma_src',
            filter: ['all', ['has', 'point_count']],
            layout: {
                'text-field': '{point_count_abbreviated}',
                'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
                'text-size': 12
            }
        });

        map.addLayer({
            id: 'closures_ma_unclusted',
            type: 'circle',
            source: 'closures_ma_src',
            filter: ['!', ['has', 'point_count']],
            paint: {
                'circle-color': '#fed976',
                'circle-radius': 10,
                'circle-stroke-width': 0,
                'circle-stroke-color': '#feb24c'
            }
        });

        map.addLayer({
            id: 'closures_ma_unclusted_count',
            type: 'symbol',
            source: 'closures_ma_src',
            filter: ['!', ['has', 'point_count']],
            layout: {
                'text-field': '1',
                'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
                'text-size': 10
            }
        });

/*
        // Add a new source for Maine from Django GeoJSON data
        map.addSource("closures_me_src", {
            type: "geojson",
            data: "{% url 'closures:ajax_load_closures_by_state_points' 'ME' %}",
            buffer: 10,
            maxzoom: 16,
            cluster: true,
            clusterMaxZoom: 16, // Max zoom to cluster points on
            clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
        });

        map.addLayer({
            id: "closures_me_clusters",
            type: "circle",
            source: "closures_me_src",
            layout: {},
            paint: {
                // Use step expressions (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
                // with three steps to implement three types of circles:
                //   * Blue, 20px circles when point count is less than 10
                //   * Yellow, 30px circles when point count is between 10 and 50
                //   * Pink, 40px circles when point count is greater than or equal to 50
                'circle-color': [
                    'step',
                    ['get', 'point_count'],
                    '#51bbd6',
                    10,
                    '#f1f075',
                    50,
                    '#f28cb1'
                ],
                'circle-radius': [
                    'step',
                    ['get', 'point_count'],
                    20,
                    10,
                    30,
                    50,
                    40
                ]
            },
            filter: ['all', ['has', 'point_count']]
            //filter: ['in', ['literal', 'Oysters'], ['get', 'species']]
        });

        map.addLayer({
            id: 'closures_me_clusters_count',
            type: 'symbol',
            source: 'closures_me_src',
            filter: ['all', ['has', 'point_count']],
            layout: {
                'text-field': '{point_count_abbreviated}',
                'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
                'text-size': 12
            }
        });

        map.addLayer({
            id: 'unclustered-point-me',
            type: 'circle',
            source: 'closures_me_src',
            filter: ['!', ['has', 'point_count']],
            paint: {
                'circle-color': '#11b4da',
                'circle-radius': 4,
                'circle-stroke-width': 1,
                'circle-stroke-color': '#fff'
            }
        });
        */

        //var stateLegendEl = document.getElementById('state-legend');
        //var countyLegendEl = document.getElementById('county-legend');

        map.on('mousemove', mouseMove);
        map.on('click', mouseClick);
        map.on('zoom', function() {
            if (map.getZoom() > loadShapesFromZoom) {
                //stateLegendEl.style.display = 'none';
                //countyLegendEl.style.display = 'block';
            } else {
                //stateLegendEl.style.display = 'block';
                //countyLegendEl.style.display = 'none';
            }
        });

/*
        document.getElementById('year-slider').addEventListener('input', function(e) {
            var year = parseInt(e.target.value);
            // update the map
            filterYear = ['==', ['number', ['get', 'year']], year];
            map.setFilter('closures_ma_clusters', ['all', filterYear, filterMonth]);
            //map.setFilter('closures_me', ['all', filterYear, filterMonth]);
            // update text in the UI
            document.getElementById('active-year').innerText = year;
        });

        document.getElementById('month-slider').addEventListener('input', function(e) {
            var month = parseInt(e.target.value);
            // update the map
            filterMonth = ['==', ['number', ['get', 'month']], month];
            map.setFilter('closures_ma', ['all', filterYear, filterMonth]);
            //map.setFilter('closures_me', ['all', filterYear, filterMonth]);
            // update text in the UI
            document.getElementById('active-month').innerText = month;
        });

        document.getElementById("reset-year-btn").addEventListener("click", function(e){
            filterYear = ['!=', ['number', ['get', 'year']], 1];
            map.setFilter('closures_ma', ['all', filterYear, filterMonth]);
            map.setFilter('closures_me', ['all', filterYear, filterMonth]);
            document.getElementById('active-year').innerText = 'All';
            document.getElementById('year-slider').value = '2010';
        });

        document.getElementById("reset-month-btn").addEventListener("click", function(e){
            filterMonth = ['!=', ['number', ['get', 'year']], 13];
            map.setFilter('closures_ma', ['all', filterYear, filterMonth]);
            map.setFilter('closures_me', ['all', filterYear, filterMonth]);
            document.getElementById('active-month').innerText = 'All';
            document.getElementById('year-slider').value = '1';
        });


*/
    });

    function mouseClick(e) {
      var features = map.queryRenderedFeatures(e.point, {
          layers: ['closures_ma_clusters', 'closures_ma_unclusted']
      });

      if (!features.length) {
          return;
      } else if (map.getZoom() < popupFromZoom) {
          map.easeTo({center: e.lngLat, zoom: map.getZoom() + 2});
      } else {
          console.log(features);
          var popup = new mapboxgl.Popup({className: 'notice-popup', anchor: 'right', maxWidth: '300px'})
              .setLngLat(e.lngLat)
              .setHTML('<div class="notice-popup-title">&nbsp;</div>')
              .addTo(map);

          popup.on('close', function(e) {
              allLayers = map.getStyle().layers
              console.log(allLayers);

              allLayers.forEach(function(item, index, arr){
                  if (item['id'].includes('shellfish-area')) {
                      console.log(item);
                      map.removeLayer(item['id']);
                      map.removeSource(item['source']);
                  }
              });
          })

          if (features[0].properties.cluster) {
              map.getSource('closures_ma_src').getClusterLeaves(
                features[0].properties.cluster_id,
                500,
                0,
                function(err, leafFeatures){
                    // Group the JSON objects by Shellfish Area
                    var grouped = _.groupBy(leafFeatures, function(feature) {
                        return feature.properties.shellfish_area_name;
                    });

                    var grouped_shellfish_areas = _(leafFeatures)
                                    // Group the elements of Array based on `shellfish_area_name` property
                                    .groupBy(feature => feature.properties.shellfish_area_name)
                                    // `key` is group's name (shellfish_area_name), `value` is the array of objects
                                    .map((value, key) => ({ shellfish_area: key, closure_events: value }))
                                    .value()

                    console.log(grouped_shellfish_areas);

                    grouped_shellfish_areas.forEach(function(item_group, index_group, arr_group){
                        var shellfish_area_id = item_group['closure_events'][0].properties.shellfish_area_id;
                        var shellfish_area = '<div id="popup-shellfish-area-' + index_group + '"><b>Shellfish Area: ' + item_group['shellfish_area'] + '</b></div>';
                        $( ".notice-popup-title" ).append( shellfish_area );

                        var mapLayer = map.getLayer('shellfish-area-' + shellfish_area_id);

                        if(typeof mapLayer === 'undefined') {
                            // Send AJAX request to get the Shellfish Area geojson shape
                            $.get('/closures/maps/ajax/load-geojson-detail/' + shellfish_area_id + '/').done(function(data) {
                                var sourceName = 'shellfish-area-src-' + data.features[0].id;
                                var layerName = 'shellfish-area-' + data.features[0].id;

                                map.addSource(sourceName, {
                                    type: 'geojson',
                                    data: data,
                                    buffer: 10,
                                    maxzoom: 12,
                                });

                                map.addLayer({
                                    id: layerName,
                                    type: 'fill',
                                    source: sourceName,
                                    paint: {
                                        'fill-color': 'red',
                                        'fill-opacity': 0.5,
                                    },
                                });
                            });
                        }

                        item_group['closure_events'].forEach(function(item, index, arr){
                            leaf_props = item.properties;
                            //console.log(leaf_props);
                            // Send AJAX request to get the ClosureDataEvent list for each Closure
                            $.get('/closures/maps/ajax/load-closures-data-events-by-notice/'  + leaf_props.shellfish_area_id + '/' + leaf_props.id + '/').done(function(data) {
                                console.log(data);
                                var effective_date = '<p>Effective Date: ' + data.effective_date + '<br>' +
                                                     'Total Duration: ' + data.total_duration + '</p>';
                                $( "#popup-shellfish-area-" + index_group ).append( effective_date );

                                var $species_list = $('<ul>', {id: 'species-list-' + data.closure_id});
                                $( "#popup-shellfish-area-" + index_group ).append( $species_list );
                                data['features'].forEach(function(item, index, arr){
                                    console.log(item);
                                    var species = '<li>' + item.event.species + '<br>' +
                                                  'Total Duration: ' + item.event.duration + '</li>';
                                    $( '#species-list-' + data.closure_id ).append( species );
                                });
                            });
                        });
                    });

                    if (err) {
                        return console.error('error while getting leaves of a cluster', err);
                    }

              }
            );
        } else {
            console.log(features);
            var notice_id = features[0].properties.id;
            var shellfish_area_id = features[0].properties.shellfish_area_id;
            var shellfish_area = '<div id="popup-shellfish-area-' + notice_id + '"><b>Shellfish Area: ' + features[0].properties.shellfish_area_name + '</b></div>';
            $( ".notice-popup-title" ).append( shellfish_area );

            var mapLayer = map.getLayer('shellfish-area-' + shellfish_area_id);

            if(typeof mapLayer === 'undefined') {
                // Send AJAX request to get the Shellfish Area geojson shape
                $.get('/closures/maps/ajax/load-geojson-detail/' + shellfish_area_id + '/').done(function(data) {
                    var sourceName = 'shellfish-area-src-' + data.features[0].id;
                    var layerName = 'shellfish-area-' + data.features[0].id;

                    map.addSource(sourceName, {
                        type: 'geojson',
                        data: data,
                        buffer: 10,
                        maxzoom: 12,
                    });

                    map.addLayer({
                        id: layerName,
                        type: 'fill',
                        source: sourceName,
                        paint: {
                            'fill-color': 'red',
                            'fill-opacity': 0.5,
                        },
                    });
                });
            }

            $.get('/closures/maps/ajax/load-closures-data-events-by-notice/'  + shellfish_area_id + '/' + notice_id + '/').done(function(data) {
                console.log(data);
                var effective_date = '<p>Effective Date: ' + data.effective_date + '</p>';
                $( "#popup-shellfish-area-" + notice_id ).append( effective_date );

                var $species_list = $('<ul>', {id: 'species-list-' + data.closure_id});
                $( "#popup-shellfish-area-" + notice_id ).append( $species_list );
                data['features'].forEach(function(item, index, arr){
                    console.log(item);
                    var species = '<li>' + item.event.species + '</li>';
                    $( '#species-list-' + data.closure_id ).append( species );
                });
            });
        }
      }
    }

    function mouseMove(e) {
      var features = map.queryRenderedFeatures(e.point, {
        layers: ['closures_ma_clusters', 'closures_ma_unclusted']
      });
      map.getCanvas().style.cursor = (features.length) ? 'pointer' : '';
    }
};
</script>
{% endblock javascript %}
