.icon-button:hover {
    cursor: pointer;
}

.side-panes-container {
    
}

.data-panel {
    transform: none !important;
    background-color: white;
    pointer-events: auto !important;
    min-width: 400px;
}
