{# templates/admin/custom_page.html #}

{% extends 'admin/change_list.html' %}
{% load crispy_forms_tags %}

{% block pagination %}{% endblock %}
{% block filters %}{% endblock filters %}
{% block object-tools %}{% endblock object-tools %}
{% block search %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Home</a>
  {% if page_name %} &rsaquo; {{ page_name }}{% endif %}
</div>
{% endblock %}

{% block result_list %}
<div class="content">
  <h1>Import Succesful!</h1>

  <p>Import is complete, the Station Datapoints have been uploaded successfully.
  <hr>

  
</div>
{% endblock result_list %}


