
h3 {
    margin-top: 0;
}
.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 260px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  color: #6b6b76;
  outline: none;
  transition: all 0.3s;
  z-index: 100;
}

.control-panel.collapse {
    right: -284px;
}

.control-panel-arrows {
    position: fixed;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background: #0069b1;
    color: white;
    padding: 4px;
}

.control-panel h3 {
    margin: 10px 0;
}

label {
  display: inline-block;
  width: 250px;
}

input {
  margin-left: 20px;
}
