{% extends "base.html" %}

{% load static i18n %}

{% block content %}

<p>New England HAB map - Maine and Massachusetts</p>
<div id="habmap" style="height:800px;"></div>

<!--
<ul>
{% for station in stations %}
    <li>{{ station.station_name }} - {{ station.station_location }}
        <ul>
            {% for datapoint in station.datapoint.all %}
                <li> {{ datapoint.measurement }} </li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
-->

{% endblock content %}

{% block javascript %}
<script>

    var habmap = L.map('habmap').setView([43.17563913659245, -68.65223407745363], 7);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiZWFuZHJld3MiLCJhIjoiY2pwc21yMHVjMW1ycTQydDIyNHlqNGh2ZCJ9.n9-zinl02aN28s-JOe_Y4g'
    }).addTo(habmap);

    {% for station in stations %}
        var markerLat = '{{ station.latitude }}';
        var markerLong = '{{ station.longitude }}';
        var popupContent = '<h6>{{ station.station_name }} - {{ station.station_location }}</h6>';

        {% for datapoint in station.datapoint.all|slice:":10" %}
            {% if datapoint.measurement %}
                var popupContent = popupContent + '<p>{{ datapoint.measurement_date }} - {{ datapoint.measurement}} - {{ datapoint.species.species_name }}</p>';
            {% endif %}
        {% endfor %}

        L.marker([markerLat, markerLong]).addTo(habmap)
        .bindPopup(popupContent);
    {% endfor %}

    habmap.on("zoomend", function (e) { console.log( "ZOOMEND", this.getZoom(), this.getCenter() ); });



</script>
{% endblock javascript %}
