{% extends "base.html" %}

{% load static i18n %}

{% block content %}

<p>New England HAB map - Maine and Massachusetts</p>

<div id="habmap" style="height:1000px;"></div>

{% endblock content %}

{% block javascript %}
<script>

    var habmap = L.map('habmap').setView([43.17563913659245, -68.65223407745363], 7);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiZWFuZHJld3MiLCJhIjoiY2pwc21yMHVjMW1ycTQydDIyNHlqNGh2ZCJ9.n9-zinl02aN28s-JOe_Y4g'
    }).addTo(habmap);

    // Create the Station Layer, add to Map
    var stationLayer = L.featureGroup();
    stationLayer.addTo(habmap);

    var stationMarkers = [];

    // use Django to loop through stations and populate markers with data
    {% for station in stations %}

        var markerLat = '{{ station.latitude }}';
        var markerLong = '{{ station.longitude }}';

        var marker = L.marker([markerLat, markerLong]);

        var popupOptions = {
            'maxWidth': '500',
            'maxHeight': '400',
            'className' : 'station-popup',
            'autopan': true,
        }

        marker.bindPopup( function() {
            var el = document.createElement('div');

            $.get('/ajax/load-station-data/', { station_id: '{{ station.id }}' }).done(function(data) {
              el.innerHTML =  data;
            });

            return el;
        }, popupOptions );

        stationMarkers.push(marker);

    {% endfor %}

    for (var i = 0; i < stationMarkers.length; i++) {
        var currentMarker = stationMarkers[i];
        currentMarker.addTo(stationLayer);
    }

    // Create the ESP Layer, add to Map

    habmap.on("zoomend", function (e) { console.log( "ZOOMEND", this.getZoom(), this.getCenter() ); });



</script>
{% endblock javascript %}
