{% extends "base.html" %}

{% load static i18n %}

{% block content %}

<p>New England HAB map - Maine and Massachusetts</p>

<div id="habmap" style="height:1000px;"></div>

{% endblock content %}

{% block javascript %}
<script>

    var habmap = L.map('habmap').setView([43.17563913659245, -68.65223407745363], 7);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiZWFuZHJld3MiLCJhIjoiY2pwc21yMHVjMW1ycTQydDIyNHlqNGh2ZCJ9.n9-zinl02aN28s-JOe_Y4g'
    }).addTo(habmap);

    var greenIcon = L.icon({
        iconUrl: '{% static 'images/green-marker.png' %}',
        //shadowUrl: 'leaf-shadow.png',
        iconSize: [41, 41],
        iconAnchor: [20, 40],
        popupAnchor: [0, -31],
        //shadowSize: [68, 95],
        //shadowAnchor: [22, 94]
    });

    var redIcon = L.icon({
        iconUrl: '{% static 'images/red-marker.png' %}',
        //shadowUrl: 'leaf-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [20, 40],
        popupAnchor: [0, -31],
        //shadowSize: [68, 95],
        //shadowAnchor: [22, 94]
    });

    var orangeLayerStyle = {
        "color": "#ff7800",
        "weight": 5,
        "opacity": 0.65
    };

    var redLayerStyle = {
        "color": "red",
        "weight": 5,
        "opacity": 0.65
    };

    var greenLayerStyle = {
        "color": "green",
        "weight": 5,
        "opacity": 0.65
    };

    function onEachFeature(feature, layer) {
    // if feature have a property named popupContent, add Popup to GeoJSON layer
        if (feature.properties && feature.properties.popupContent) {
            layer.bindPopup(feature.properties.popupContent);
        }
    }

    var syndromeASPLayer = new L.GeoJSON.AJAX("/static/json/maine.json", {
                            style: orangeLayerStyle,
                            onEachFeature: onEachFeature
                        });
    syndromeASPLayer.addUrl("/static/json/mass-south.json");
    syndromeASPLayer.addTo(habmap);

    var syndromePSPLayer = new L.GeoJSON.AJAX("/static/json/maine.json", {
                            style: redLayerStyle,
                            onEachFeature: onEachFeature
                        });
    syndromePSPLayer.addUrl("/static/json/mass-north.json");
    syndromePSPLayer.addTo(habmap);

    var syndromeCPolyLayer = new L.GeoJSON.AJAX("/static/json/mass-south.json", {
                            style: greenLayerStyle,
                            onEachFeature: onEachFeature
                        });
    syndromeCPolyLayer.addTo(habmap);

    // Create the Station Layer, add to Map
    var stationLayer = L.featureGroup();
    stationLayer.addTo(habmap);

    var stationMarkers = [];

    // use Django to loop through stations and populate markers with data
    {% for station in stations %}

        var markerLat = '{{ station.latitude }}';
        var markerLong = '{{ station.longitude }}';

        var marker = L.marker([markerLat, markerLong]);

        var popupOptions = {
            'maxWidth': '500',
            'maxHeight': '350',
            'className' : 'station-popup',
            'autopan': true,
        }

        marker.bindPopup( function() {
            var el = document.createElement('div');

            $.get('/ajax/load-station-data/', { station_id: '{{ station.id }}' }).done(function(data) {
              el.innerHTML =  data;
            });

            return el;
        }, popupOptions );

        stationMarkers.push(marker);

    {% endfor %}

    for (var i = 0; i < stationMarkers.length; i++) {
        var currentMarker = stationMarkers[i];
        currentMarker.addTo(stationLayer);
    }

    // Create the ESP Layer, add to Map

    var espLayer = L.markerClusterGroup();
    espLayer.addTo(habmap);

    var espMarkers = [];

    // use Django to loop through stations and populate markers with data
    {% for esp_deployment in esp_deployments %}

        var markerLat = '{{ esp_deployment.latitude }}';
        var markerLong = '{{ esp_deployment.longitude }}';

        var marker = L.marker([markerLat, markerLong], {icon: greenIcon});

        var popupOptions = {
            'maxWidth': '500',
            'maxHeight': '350',
            'className' : 'station-popup',
            'autopan': true,
        }

        marker.bindPopup( function() {
            var el = document.createElement('div');

            $.get('/ajax/load-esp-deployment-data/', { esp_deployment_id: '{{ esp_deployment.id }}' }).done(function(data) {
              el.innerHTML =  data;
            });

            return el;
        }, popupOptions );

        espMarkers.push(marker);

    {% endfor %}

    for (var i = 0; i < espMarkers.length; i++) {
        var currentMarker = espMarkers[i];
        currentMarker.addTo(espLayer);
    }

    // Create the overlay controls

    var overlayStationTypes = {
        "Stations": stationLayer,
        "ESP Deployments": espLayer,
        "HAB Syndrome: ASP": syndromeASPLayer,
        "HAB Syndrome: PSP": syndromePSPLayer,
        "HAB Syndrome: <i>Cochlodinium polykrikoides</i>": syndromeCPolyLayer,
    };

    L.control.layers(null, overlayStationTypes).addTo(habmap);

     // Debug in console
    habmap.on("zoomend", function (e) { console.log( "ZOOMEND", this.getZoom(), this.getCenter() ); });



</script>
{% endblock javascript %}
