{% extends "base.html" %}

{% load static i18n %}

{% block content %}

<h1 class="display-4">WHOI HAB Hub</h1>

<div id="habmap" style="height:1000px;"></div>

{% endblock content %}

{% block javascript %}
<script>

    var habmap = L.map('habmap').setView([42.651131867449024, -69.22275066375734], 8);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiZWFuZHJld3MiLCJhIjoiY2p6c2xxOWx4MDJudDNjbjIyNTdzNWxqaCJ9.Ayp0hdQGjUayka8dJFwSug'
    }).addTo(habmap);

    var greenIcon = L.icon({
        iconUrl: '{% static 'images/green2-marker.png' %}',
        //shadowUrl: 'leaf-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [20, 40],
        popupAnchor: [0, -31],
        //shadowSize: [68, 95],
        //shadowAnchor: [22, 94]
    });

    var redIcon = L.icon({
        iconUrl: '{% static 'images/red-marker.png' %}',
        //shadowUrl: 'leaf-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [20, 40],
        popupAnchor: [0, -31],
        //shadowSize: [68, 95],
        //shadowAnchor: [22, 94]
    });

    var orangeIcon = L.icon({
        iconUrl: '{% static 'images/orange-marker.png' %}',
        //shadowUrl: 'leaf-shadow.png',
        iconSize: [12, 20],
        iconAnchor: [6, 20],
        popupAnchor: [0, -14],
        //shadowSize: [68, 95],
        //shadowAnchor: [22, 94]
    });

    var pushPinRedIcon = L.icon({
        iconUrl: '{% static 'images/red-pushpin.png' %}',
        //shadowUrl: 'leaf-shadow.png',
        iconSize: [30, 30],
        iconAnchor: [15, 30],
        popupAnchor: [5, -30],
        //shadowSize: [68, 95],
        //shadowAnchor: [22, 94]
    });

    var orangeLayerStyle = {
        "color": "#ff7800",
        "weight": 5,
        "opacity": 0.65
    };

    var redLayerStyle = {
        "color": "red",
        "weight": 5,
        "opacity": 0.65
    };

    var greenLayerStyle = {
        "color": "green",
        "weight": 5,
        "opacity": 0.65
    };

    function onEachFeature(feature, layer) {
        // if feature have a property named popupContent, add Popup to GeoJSON layer
        if (feature.properties && feature.properties.AREA_DESC) {
            layer.bindPopup(feature.properties.AREA_DESC);
        }
    }

    var syndromeASPLayer = new L.GeoJSON.AJAX("/static/json/nh-shellfish-areas.json", {
                            style: orangeLayerStyle,
                            //onEachFeature: onEachFeature
                        });
    //syndromeASPLayer.addUrl("/static/json/nh-shellfish-areas.json");
    syndromeASPLayer.addTo(habmap);
    syndromeASPLayer.bindPopup("HAB Syndrome: ASP");


    var syndromePSPLayer = new L.GeoJSON.AJAX("/static/json/maine.json", {
                            style: redLayerStyle,
                            //onEachFeature: onEachFeature
                        });
    //syndromePSPLayer.addUrl("/static/json/mass-north.json");
    syndromePSPLayer.addTo(habmap);
    syndromePSPLayer.bindPopup("HAB Syndrome: PSP");

    var syndromeCPolyLayer = new L.GeoJSON.AJAX("/static/json/ma-barnstable.json", {
                            style: greenLayerStyle,
                            onEachFeature: onEachFeature
                        });
    syndromeCPolyLayer.addTo(habmap);
    //syndromeCPolyLayer.bindPopup("HAB Syndrome: <i>Cochlodinium polykrikoides</i>");


    // ******** STATIONS ******** //
    // Create the Station Layer, add to Map
    var stationLayer = L.featureGroup();
    stationLayer.addTo(habmap);

    var stationMarkers = [];

    var popupOptions = {
        'maxWidth': '500',
        'maxHeight': '350',
        'className' : 'station-popup',
        'autopan': true,
    }

    var stationCirleOptions = {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 1500,
    };

    // use Django to loop through stations and populate markers with data
    {% for station in stations %}

        var markerLat = '{{ station.latitude }}';
        var markerLong = '{{ station.longitude }}';

        var marker = L.marker([markerLat, markerLong]);

        marker.bindPopup( function() {
            var el = document.createElement('div');

            $.get('/ajax/load-station-data/', { station_id: '{{ station.id }}' }).done(function(data) {
              el.innerHTML =  data;
            });

            return el;
        }, popupOptions );

        stationMarkers.push(marker);

    {% endfor %}

    for (var i = 0; i < stationMarkers.length; i++) {
        var currentMarker = stationMarkers[i];
        currentMarker.addTo(stationLayer);
    }


    // ******** Station Warning Circles ******** //
    // Create the Station Warning Circles Layer, add to Map
    var warningCirclesLayer = L.featureGroup();
    warningCirclesLayer.addTo(habmap);

    var warningCircles = [];

    // use Django to loop through stations and populate markers with data
    {% for station in stations %}

        var markerLat = '{{ station.latitude }}';
        var markerLong = '{{ station.longitude }}';

        var circle = L.circle([markerLat, markerLong], stationCirleOptions);

        warningCircles.push(circle);

    {% endfor %}

    for (var i = 0; i < warningCircles.length; i += 4) {
        var currentMarker = warningCircles[i];
        currentMarker.addTo(warningCirclesLayer);
    }

    // ******** ESP Deployments ******** //
    // Create the ESP Layer, add to Map

    var espLayer = L.markerClusterGroup();
    espLayer.addTo(habmap);

    var espMarkers = [];

    // use Django to loop through stations and populate markers with data
    {% for esp_deployment in esp_deployments %}

        var markerLat = '{{ esp_deployment.latitude }}';
        var markerLong = '{{ esp_deployment.longitude }}';

        var marker = L.marker([markerLat, markerLong], {icon: greenIcon});

        var popupOptions = {
            'maxWidth': '500',
            'maxHeight': '350',
            'className' : 'station-popup',
            'autopan': true,
        }

        marker.bindPopup( function() {
            var el = document.createElement('div');

            $.get('/ajax/load-esp-deployment-data/', { esp_deployment_id: '{{ esp_deployment.id }}' }).done(function(data) {
              el.innerHTML =  data;
            });

            return el;
        }, popupOptions );

        espMarkers.push(marker);

    {% endfor %}

    for (var i = 0; i < espMarkers.length; i++) {
        var currentMarker = espMarkers[i];
        currentMarker.addTo(espLayer);
    }

    // ******** IFCB Cruises ******** //
    // Create the IFCB Cruise Layer, add to Map
    var ifcbLayer = L.featureGroup();
    ifcbLayer.addTo(habmap);

    var ifcbMarkers = [];

    // use Django to loop through IFCB Cruises and populate markers with data
    {% for cruise in ifcb_cruises %}
        {% for datapoint in cruise.ifcb_datapoint.all %}
            var markerLat = '{{ datapoint.latitude }}';
            var markerLong = '{{ datapoint.longitude }}';

            var marker = L.marker([markerLat, markerLong], {icon: orangeIcon});

            var popupOptions = {
                'maxWidth': '500',
                'maxHeight': '350',
                'className' : 'cruise-popup',
                'autopan': true,
            }

            marker.bindPopup( function() {
                var el = document.createElement('div');

                $.get('/ifcb-cruises/ajax/load-ifcb-data/', { ifcb_datapoint_id: '{{ datapoint.id }}' }).done(function(data) {
                  el.innerHTML =  data;
                });

                return el;
            }, popupOptions );

            ifcbMarkers.push(marker);
        {% endfor %}
    {% endfor %}

    for (var i = 0; i < ifcbMarkers.length; i++) {
        var currentMarker = ifcbMarkers[i];
        currentMarker.addTo(ifcbLayer);
    }

    // Create the overlay controls

    var overlayStationTypes = {
        "Stations": stationLayer,
        "ESP Deployments": espLayer,
        "IFCB Cruises": ifcbLayer,
        "HAB Syndrome: ASP": syndromeASPLayer,
        "HAB Syndrome: PSP": syndromePSPLayer,
        "HAB Syndrome: <i>Cochlodinium polykrikoides</i>": syndromeCPolyLayer,
    };

    L.control.layers(null, overlayStationTypes).addTo(habmap);

     // Debug in console
    habmap.on("zoomend", function (e) { console.log( "ZOOMEND", this.getZoom(), this.getCenter() ); });



</script>
{% endblock javascript %}
