{% extends "base.html" %}

{% load static i18n %}

{% block content %}

<style>

#map-container {
    position: relative;
    height: 1000px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

#console {
    font-size: 14px;
}

</style>

<script src="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css" rel="stylesheet" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.js"></script>
<script src="{% static 'js/mapboxgl-spiderifier-master/index.js' %}"></script>
<link href="{% static 'js/mapboxgl-spiderifier-master/index.css' %}" rel="stylesheet" />

<h1 class="display-4">WHOI HAB Hub</h1>
<hr>
<h4>Shellfish Area Closures</h4>

<div class="alert alert-info" id='console'>
    <form id="closure-map-filters">
      <div class="form-row align-items-center">
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Start date</label>
            <div class='input-group date' id='datepicker-start'>

              <input type='text' name="start-date" class="form-control form-control-sm" />
              <div class="input-group-addon input-group-append">

                    <span class="input-group-text">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>

              </div>

            </div>
        </div>

        <div class="col-auto">
            <span> - to - </span>

        </div>

        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">End date</label>
            <div class='input-group date' id='datepicker-end'>

              <input type='text' name="end-date" class="form-control form-control-sm" />
              <div class="input-group-addon input-group-append">

                    <span class="input-group-text">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>

              </div>

            </div>
        </div>

        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Filter by Species</label>
            <select name="species" class="custom-select custom-select-sm" id="species">
              <option value="">Filter by shellfish species</option>
              {% for species in species_qs.all %}
                  <option value="{{ species.id }}">{{ species.name }}</option>
              {% endfor %}
            </select>
        </div>

        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Filter by Causative Organism</label>
            <select name="organism" class="custom-select custom-select-sm" id="organism">
              <option value="">Filter by causative organism</option>
              {% for organism in organisms_qs.all %}
                  <option value="{{ organism.id }}">{{ organism.name }}</option>
              {% endfor %}
            </select>
        </div>

        <div class="col-auto">
          <button type="submit" class="btn btn-sm btn-primary">Submit</button>
        </div>

        <div class="col-auto">
          <button type="button" class="btn btn-sm btn-secondary" id="filter-reset">Reset</button>
        </div>

      </div>
    </form>

</div>

<div id="map-container">

    <div id='map'></div>

</div>

{% endblock content %}

{% block javascript %}
<script>

window.onload = function() {

    mapboxgl.accessToken = 'pk.eyJ1IjoiZWFuZHJld3MiLCJhIjoiY2p6c2xxOWx4MDJudDNjbjIyNTdzNWxqaCJ9.Ayp0hdQGjUayka8dJFwSug';

    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [-69.75, 41.89],
        zoom: 6.7,
    });

    const popupFromZoom = 10;
    const loadShapesFromZoom = 8;

    $('#datepicker-start').datetimepicker({
        format: 'MM/DD/YYYY',
        defaultDate: '{{ earliest_date }}',
        icons: {
            time: 'fa fa-clock-o',
            date: 'fa fa-calendar',
            up: 'fa fa-chevron-up',
            down: 'fa fa-chevron-down',
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-check',
            clear: 'fa fa-trash',
            close: 'fa fa-times'
        }
    });

    $('#datepicker-end').datetimepicker({
        format: 'MM/DD/YYYY',
        defaultDate: moment(),
        useCurrent: true,
        icons: {
            time: 'fa fa-clock-o',
            date: 'fa fa-calendar',
            up: 'fa fa-chevron-up',
            down: 'fa fa-chevron-down',
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-check',
            clear: 'fa fa-trash',
            close: 'fa fa-times'
        }
    });

    $('#closure-map-filters').submit(function(event) {
        event.preventDefault();
        let values = $(this).serializeArray();
        // Close any existing Popups
        map.fire('closeAllPopups');

        $.ajax({
            url: "{% url 'closures:ajax_load_closures_all' %}",
            data: values,
            success: function (data) {
              console.log(data);
              map.getSource('closures_areas_src').setData(data);
            }
        });

        $.ajax({
            url: "{% url 'closures:ajax_load_closures_all_points' %}",
            data: values,
            success: function (data) {
              console.log(data);
              map.getSource('closures_notices_src').setData(data);
            }
        });
    });

    $('#filter-reset').click(function(event) {
        // Reset the form field values to defaults
        $('#datepicker-start').data("DateTimePicker").date('{{ earliest_date }}');
        $('#datepicker-end').data("DateTimePicker").date(moment());
        $('#species').val('');
        $('#organism').val('');
        // Close any existing Popups
        map.fire('closeAllPopups');

        $.ajax({
            url: "{% url 'closures:ajax_load_closures_all' %}",
            success: function (data) {
              console.log(data);
              map.getSource('closures_areas_src').setData(data);
            }
        });

        $.ajax({
            url: "{% url 'closures:ajax_load_closures_all_points' %}",
            success: function (data) {
              console.log(data);
              map.getSource('closures_notices_src').setData(data);
            }
        });
    });

    map.on('load', function() {
        // Set default filters that return everything
        let filterYear = ['!=', ['number', ['get', 'year']], 1900];
        let filterMonth = ['!=', ['number', ['get', 'month']], 13];

        // Add a new source from Django GeoJSON data for shellfish_area shapes
        map.addSource("closures_areas_src", {
            type: "geojson",
            data: "{% url 'closures:ajax_load_closures_all' %}",
            buffer: 10,
            maxzoom: 12,
        });

        map.addLayer({
            id: "closures_areas_ma",
            type: "fill",
            source: "closures_areas_src",
            minzoom: loadShapesFromZoom,
            layout: {},
            paint: {
                'fill-color': 'orange',
                'fill-opacity': 0.5,
                'fill-outline-color': '#fc4e2a',
            },
            //filter: ['all', filterYear, filterMonth]
            //filter: ['in', ['literal', 'Oysters'], ['get', 'species']]
        });

        // Add a new source from Django GeoJSON data
        map.addSource("closures_notices_src", {
            type: "geojson",
            data: "{% url 'closures:ajax_load_closures_all_points' %}",
            buffer: 10,
            maxzoom: 16,
            cluster: true,
            clusterMaxZoom: 16, // Max zoom to cluster points on
            clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
        });

        map.addLayer({
            id: "closures_notices_clusters",
            type: "circle",
            source: "closures_notices_src",
            layout: {},
            paint: {
                // Use step expressions (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
                // with three steps to implement three types of circles:
                //   * Blue, 20px circles when point count is less than 10
                //   * Yellow, 30px circles when point count is between 10 and 50
                //   * Pink, 40px circles when point count is greater than or equal to 50
                'circle-color': [
                    'step',
                    ['get', 'point_count'],
                    '#fd8d3c',
                    10,
                    '#fc4e2a',
                    50,
                    '#e31a1c'
                ],
                'circle-radius': [
                    'step',
                    ['get', 'point_count'],
                    20,
                    10,
                    30,
                    50,
                    40
                ]
            },
            filter: ['all', ['has', 'point_count']]
            //filter: ['in', ['literal', 'Oysters'], ['get', 'species']]
        });

        map.addLayer({
            id: 'closures_notices_clusters_count',
            type: 'symbol',
            source: 'closures_notices_src',
            filter: ['all', ['has', 'point_count']],
            layout: {
                'text-field': '{point_count_abbreviated}',
                'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
                'text-size': 12
            }
        });

        map.addLayer({
            id: 'closures_notices_unclustered',
            type: 'circle',
            source: 'closures_notices_src',
            filter: ['!', ['has', 'point_count']],
            paint: {
                'circle-color': '#fed976',
                'circle-radius': 10,
                'circle-stroke-width': 0,
                'circle-stroke-color': '#feb24c'
            }
        });

        map.addLayer({
            id: 'closures_notices_unclustered_count',
            type: 'symbol',
            source: 'closures_notices_src',
            filter: ['!', ['has', 'point_count']],
            layout: {
                'text-field': '1',
                'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
                'text-size': 10
            }
        });

        map.on('mousemove', mouseMove);
        map.on('click', mouseClick);
        map.on('zoom', function() {
            if (map.getZoom() > loadShapesFromZoom) {
                //stateLegendEl.style.display = 'none';
                //countyLegendEl.style.display = 'block';
            } else {
                //stateLegendEl.style.display = 'block';
                //countyLegendEl.style.display = 'none';
            }
        });

/*
        document.getElementById('year-slider').addEventListener('input', function(e) {
            var year = parseInt(e.target.value);
            // update the map
            filterYear = ['==', ['number', ['get', 'year']], year];
            map.setFilter('closures_ma_clusters', ['all', filterYear, filterMonth]);
            //map.setFilter('closures_me', ['all', filterYear, filterMonth]);
            // update text in the UI
            document.getElementById('active-year').innerText = year;
        });

        document.getElementById('month-slider').addEventListener('input', function(e) {
            var month = parseInt(e.target.value);
            // update the map
            filterMonth = ['==', ['number', ['get', 'month']], month];
            map.setFilter('closures_ma', ['all', filterYear, filterMonth]);
            //map.setFilter('closures_me', ['all', filterYear, filterMonth]);
            // update text in the UI
            document.getElementById('active-month').innerText = month;
        });

        document.getElementById("reset-year-btn").addEventListener("click", function(e){
            filterYear = ['!=', ['number', ['get', 'year']], 1];
            map.setFilter('closures_ma', ['all', filterYear, filterMonth]);
            map.setFilter('closures_me', ['all', filterYear, filterMonth]);
            document.getElementById('active-year').innerText = 'All';
            document.getElementById('year-slider').value = '2010';
        });

        document.getElementById("reset-month-btn").addEventListener("click", function(e){
            filterMonth = ['!=', ['number', ['get', 'year']], 13];
            map.setFilter('closures_ma', ['all', filterYear, filterMonth]);
            map.setFilter('closures_me', ['all', filterYear, filterMonth]);
            document.getElementById('active-month').innerText = 'All';
            document.getElementById('year-slider').value = '1';
        });


*/
    });

    // Function to create the popup content and map overlay for Shellfish Area on clicking cluster
    function buildShellfishAreaOnClick(data) {
        if (typeof data['closure_notices'] !== 'undefined') {
            var closure_notices = data['closure_notices'];
            var shellfishAreaID = data['closure_notices'][0].properties.shellfish_area_id;
            var shellfishAreaName = data['shellfish_area'];
            var shellfishAreaDesc = data['closure_notices'][0].properties.shellfish_area_description;
        } else {
            var closure_notices = data
            var shellfishAreaID = data[0].properties.shellfish_area_id;
            var shellfishAreaName = data[0].properties.shellfish_area_name;
            var shellfishAreaDesc = data[0].properties.shellfish_area_description;
        }

        let shellfishAreaPopup = `
            <div id="popup-shellfish-area-${shellfishAreaID}">
                <h6>${shellfishAreaDesc}</h6>
                <p>Shellfish Area: ${shellfishAreaName}</p>
            </div>
        `
        $( ".notice-popup-content" ).append( shellfishAreaPopup );

        closure_notices.forEach(function(item, index, arr){
            let downloadLink = '';
            if (item.properties.document_url) {
                downloadLink = `<a href="${item.properties.document_url}" target="_blank">View notice</a>`
            }

            let eventCard = `
            <div class="card mb-2">
                <div class="card-header">
                    <strong>Closure Date: ${item.properties.effective_date}</strong><br>
                    Causative Organism: <i>${item.properties.causative_organism}</i><br>
                    ${ downloadLink }
                </div>
                <ul class="list-group list-group-flush" id="species-list-${item.properties.id}">
                </ul>
            </div>
            `
            $( "#popup-shellfish-area-" + shellfishAreaID ).append( eventCard );
            if (typeof item.properties.closure_events == 'string') {
                item.properties.closure_events = JSON.parse(item.properties.closure_events);
            }

            item.properties.closure_events.forEach(function(itemEvent, index, arr){
                let species = `
                    <li class="list-group-item">
                        ${itemEvent.event.species}<br>
                        Duration: ${itemEvent.event.duration}
                    </li>
                `
                $( '#species-list-' + item.properties.id ).append( species );
            });

        });

        let mapLayer = map.getLayer('shellfish-area-' + shellfishAreaID);

        if(typeof mapLayer === 'undefined') {
            // Send AJAX request to get the Shellfish Area geojson shape
            $.get('/closures/maps/ajax/load-geojson-detail/' + shellfishAreaID + '/').done(function(data) {
                let sourceName = 'shellfish-area-src-' + data.features[0].id;
                let layerName = 'shellfish-area-' + data.features[0].id;

                map.addSource(sourceName, {
                    type: 'geojson',
                    data: data,
                    buffer: 10,
                    maxzoom: 12,
                });

                map.addLayer({
                    id: layerName,
                    type: 'fill',
                    source: sourceName,
                    paint: {
                        'fill-color': 'red',
                        'fill-opacity': 0.5,
                    },
                });
            });
        }
    }

    function mouseClick(e) {
      let features = map.queryRenderedFeatures(e.point, {
          layers: ['closures_notices_clusters', 'closures_notices_unclustered']
      });

      if (!features.length) {
          return;
      } else if (map.getZoom() < popupFromZoom) {
          map.easeTo({center: e.lngLat, zoom: map.getZoom() + 2});
      } else {
          let popup = new mapboxgl.Popup({className: 'notice-popup', anchor: 'right', maxWidth: '300px'})
              .setLngLat(e.lngLat)
              .setHTML('<div class="notice-popup-content">&nbsp;</div>')
              .addTo(map);

          popup.on('close', function(e) {
              let allLayers = map.getStyle().layers;

              allLayers.forEach(function(item, index, arr){
                  if (item['id'].includes('shellfish-area')) {
                      map.removeLayer(item['id']);
                      map.removeSource(item['source']);
                  }
              });
          })

          // Add a custom event listener to the map to close Popups
          map.on('closeAllPopups', () => {
            popup.remove();
          });

          if (features[0].properties.cluster) {
              map.getSource('closures_notices_src').getClusterLeaves(
                features[0].properties.cluster_id,
                500,
                0,
                function(err, leafFeatures){
                    // Group the JSON objects by Shellfish Area
                    let grouped_shellfish_areas = _(leafFeatures)
                                    // Group the elements of Array based on `shellfish_area_name` property
                                    .groupBy(feature => feature.properties.shellfish_area_name)
                                    // `key` is group's name (shellfish_area_name), `value` is the array of objects
                                    .map((value, key) => ({ shellfish_area: key, closure_notices: value }))
                                    .value()
                    // Resort array by the effective_date property
                    grouped_shellfish_areas[0].closure_notices.sort((a, b) => (a.properties.effective_date < b.properties.effective_date) ? 1 : -1)

                    grouped_shellfish_areas.forEach(function(item_group, index_group, arr_group){
                        // Call the function to create the popup content and map overlay
                        buildShellfishAreaOnClick(item_group);
                    });

                    if (err) {
                        return console.error('error while getting leaves of a cluster', err);
                    }

              }
            );
        } else {
            console.log(features)
            let noticeID = features[0].properties.id;
            let shellfishAreaID = features[0].properties.shellfish_area_id;
            let shellfishAreaName = features[0].properties.shellfish_area_name;
            let shellfishAreaDesc = features[0].properties.shellfish_area_description;
            buildShellfishAreaOnClick(features);
            //buildClosureEventList(shellfishAreaID, noticeID);
        }
      }
    }

    function mouseMove(e) {
      let features = map.queryRenderedFeatures(e.point, {
        layers: ['closures_notices_clusters', 'closures_notices_unclustered']
      });
      map.getCanvas().style.cursor = (features.length) ? 'pointer' : '';
    }
};
</script>
{% endblock javascript %}
