{% extends "base.html" %}

{% load static i18n %}

{% block content %}

<style>

#map-container {
    position: relative;
    height: 1000px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

#console {
    font-size: 14px;
}

</style>

<script src="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css" rel="stylesheet" />

<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>

<h1 class="display-4">WHOI HAB Hub</h1>
<hr>
<h4>Shellfish Toxicity Data by Station</h4>

<div class="alert alert-info" id='console'>
    <form id="station-map-filters">
      <div class="form-row align-items-center">
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Start date</label>
            <div class='input-group date' id='datepicker-start'>

              <input type='text' name="start_date" class="form-control form-control-sm" />
              <div class="input-group-addon input-group-append">

                    <span class="input-group-text">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>

              </div>

            </div>
        </div>

        <div class="col-auto">
            <span> - to - </span>

        </div>

        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">End date</label>
            <div class='input-group date' id='datepicker-end'>

              <input type='text' name="end_date" class="form-control form-control-sm" />
              <div class="input-group-addon input-group-append">

                    <span class="input-group-text">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>

              </div>

            </div>
        </div>

        <div class="col-auto">
          <button type="submit" class="btn btn-sm btn-primary">Submit</button>
        </div>

        <div class="col-auto">
          <button type="button" class="btn btn-sm btn-secondary" id="filter-reset">Reset</button>
        </div>

        <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input label-filter" type="radio" name="label_display" id="stations-max-label-filter" value="stations_max_label" checked>
              <label class="form-check-label" for="stations_max_label">
                Show Max Value
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input label-filter" type="radio" name="label_display" id="stations-mean-label-filter" value="stations_mean_label">
              <label class="form-check-label" for="stations_mean_label">
                Show Mean Value
              </label>
            </div>
        </div>

      </div>
    </form>

</div>

<div id="map-container">

    <div id='map'></div>

</div>

{% endblock content %}

{% block javascript %}
<script>

window.onload = function() {

    mapboxgl.accessToken = 'pk.eyJ1IjoiZWFuZHJld3MiLCJhIjoiY2p6c2xxOWx4MDJudDNjbjIyNTdzNWxqaCJ9.Ayp0hdQGjUayka8dJFwSug';

    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [-69.75, 42.89],
        zoom: 6.7,
    });

    const popupFromZoom = 7.5;

    // filters for classifying stations by max values into five categories
    let max1 = ['<', ['get', 'station_max'], 20];
    let max2 = ['all', ['>=', ['get', 'station_max'], 20], ['<', ['get', 'station_max'], 40]];
    let max3 = ['all', ['>=', ['get', 'station_max'], 40], ['<', ['get', 'station_max'], 60]];
    let max4 = ['all', ['>=', ['get', 'station_max'], 60], ['<', ['get', 'station_max'], 80]];
    let max5 = ['>=', ['get', 'station_max'], 80];

    // filters for classifying stations by mean values into five categories
    let mean1 = ['<', ['get', 'station_mean'], 20];
    let mean2 = ['all', ['>=', ['get', 'station_mean'], 20], ['<', ['get', 'station_mean'], 40]];
    let mean3 = ['all', ['>=', ['get', 'station_mean'], 40], ['<', ['get', 'station_mean'], 60]];
    let mean4 = ['all', ['>=', ['get', 'station_mean'], 60], ['<', ['get', 'station_mean'], 80]];
    let mean5 = ['>=', ['get', 'station_mean'], 80];

    // colors to use for the categories
    let colors = ['#fed976', '#feb24c', '#fd8d3c', '#fc4e2a', '#e31a1c'];

    let maxPaintCase = [
        'case',
        max1,
        colors[0],
        max2,
        colors[1],
        max3,
        colors[2],
        max4,
        colors[3],
        colors[4]
    ]

    let meanPaintCase = [
        'case',
        mean1,
        colors[0],
        mean2,
        colors[1],
        mean3,
        colors[2],
        mean4,
        colors[3],
        colors[4]
    ]

    $('#datepicker-start').datetimepicker({
        format: 'MM/DD/YYYY',
        defaultDate: '{{ earliest_date }}',
        icons: {
            time: 'fa fa-clock-o',
            date: 'fa fa-calendar',
            up: 'fa fa-chevron-up',
            down: 'fa fa-chevron-down',
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-check',
            clear: 'fa fa-trash',
            close: 'fa fa-times'
        }
    });

    $('#datepicker-end').datetimepicker({
        format: 'MM/DD/YYYY',
        defaultDate: moment(),
        useCurrent: true,
        icons: {
            time: 'fa fa-clock-o',
            date: 'fa fa-calendar',
            up: 'fa fa-chevron-up',
            down: 'fa fa-chevron-down',
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-check',
            clear: 'fa fa-trash',
            close: 'fa fa-times'
        }
    });

    $('#station-map-filters').submit(function(event) {
        event.preventDefault();
        let values = $(this).serializeArray();
        // Close any existing Popups
        map.fire('closeAllPopups');

        $.ajax({
            url: "{% url 'stations:ajax_load_stations_all' %}",
            data: values,
            success: function (data) {
              console.log(data);
              map.getSource('stations_src').setData(data);
            }
        });
    });

    $('.label-filter').click(function () {
        console.log(this.value);
        layer = this.value;
        if (layer == 'stations_max_label') {
            // hide the other label layer
            map.setLayoutProperty('stations_mean_label', 'visibility', 'none');
            // set the Paint property
            map.setPaintProperty('stations', 'circle-color', maxPaintCase);
        } else {
            // hide the other label layer
            map.setLayoutProperty('stations_max_label', 'visibility', 'none');
            // set the Paint property
            map.setPaintProperty('stations', 'circle-color', meanPaintCase);
        }
        map.setLayoutProperty(layer, 'visibility', 'visible');

    });

    $('#filter-reset').click(function(event) {
        // Reset the form field values to defaults
        $('#datepicker-start').data("DateTimePicker").date('{{ earliest_date }}');
        $('#datepicker-end').data("DateTimePicker").date(moment());
        // Close any existing Popups
        map.fire('closeAllPopups');

        $.ajax({
            url: "{% url 'stations:ajax_load_stations_all' %}",
            success: function (data) {
              console.log(data);
              map.getSource('stations_src').setData(data);
            }
        });
    });

    map.on('load', function() {
        // Add a new source from Django GeoJSON data for all Stations
        map.addSource("stations_src", {
            type: "geojson",
            data: "{% url 'stations:ajax_load_stations_all' %}",
            buffer: 0,
            maxzoom: 12,
        });

        map.addLayer({
            id: 'stations',
            type: 'circle',
            source: 'stations_src',
            paint: {
                'circle-color': maxPaintCase,
                'circle-opacity': 0.6,
                'circle-radius': 12
            }
        });

        map.addLayer({
            id: 'stations_max_label',
            type: 'symbol',
            source: 'stations_src',
            layout: {
                'text-field': [
                    'number-format',
                    ['get', 'station_max'],
                    { 'min-fraction-digits': 1, 'max-fraction-digits': 1 }
                ],
                'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
                'text-size': 10
            }
        });

        map.addLayer({
            id: 'stations_mean_label',
            type: 'symbol',
            source: 'stations_src',
            layout: {
                'visibility': 'none',
                'text-field': [
                    'number-format',
                    ['get', 'station_mean'],
                    { 'min-fraction-digits': 1, 'max-fraction-digits': 1 }
                ],
                'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
                'text-size': 10
            }
        });

        map.on('mousemove', mouseMove);
        map.on('click', mouseClick);
        map.on('zoom', function() {
            if (map.getZoom() > popupFromZoom) {
                //stateLegendEl.style.display = 'none';
                //countyLegendEl.style.display = 'block';
            } else {
                //stateLegendEl.style.display = 'block';
                //countyLegendEl.style.display = 'none';
            }
        });

    });

    let toggleableLayerIds = ['stations_max_label', 'stations_mean_label'];
    toggleableLayerIds.forEach(function(item, index, arr) {

    });

    function mouseClick(e) {
      let features = map.queryRenderedFeatures(e.point, {
          layers: ['stations']
      });
      console.log(features);
      if (!features.length) {
          return;
      } else if (map.getZoom() < popupFromZoom) {
          map.easeTo({center: e.lngLat, zoom: map.getZoom() + 2});
      } else {
          let stationID = features[0].id;
          console.log(stationID);
          let popup = new mapboxgl.Popup({className: 'station-popup', anchor: 'right', maxWidth: '800px'})
              .setLngLat(e.lngLat)
              .setHTML('<div id="station-popup-content"></div>')
              .addTo(map);

          $.ajax({
              url: '/stations/maps/ajax/load-station-chart/'  + stationID + '/',
              dataType: 'json',
              success: function (data) {
                  chartData = data.series[0].data;
                  chartData.forEach(function(point) {
                      point[0] = Date.parse(point[0])
                  });

                  chartData.sort();
                  console.log(chartData);
                  Highcharts.chart("station-popup-content", data);
              }
          });

          // Add a custom event listener to the map to close Popups
          map.on('closeAllPopups', () => {
            popup.remove();
          });

      }
    }

    function mouseMove(e) {
      let features = map.queryRenderedFeatures(e.point, {
        layers: ['stations']
      });
      map.getCanvas().style.cursor = (features.length) ? 'pointer' : '';
    }
};
</script>
{% endblock javascript %}
